* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #565656;
	margin: 20px 20px 60px 30px;
	background: #f8f8f8;
}
.ya-existe,
.pide-error,
.no-encontro,
.server-error,
.personal-historia,
.data-input.dni-input,
.registro-data .data-input .per-reg-input {
	display: none;
}
.dni-search,
.registro-data > div {
	display: flex;
}
.big-titulo {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 26px;
	margin: 15px;
}
.small-titulo {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
}
fieldset.personal-filtro {
	padding: 0 0 20px 20px;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	display: inline-block;
}
fieldset.personal-filtro legend {
	font-size: 12px;
	font-weight: bold;
}
fieldset.personal-filtro input[type="text"] {
	margin: 20px 20px 0 0;
	padding: 6px 10px;
}
select,
input[type="number"],
input[type="date"],
input[type="text"] {
	border-radius: 3px;
	border: none;
	box-shadow: 0 1px 2px 0 #00000042;
	outline: none;
	font-size: 14px;
	text-transform:uppercase;
}
input[type="number"]::placeholder,
input[type="text"]::placeholder {
	color: #999999;
	opacity: 1; /* Firefox */
}
.input-invalido {
	box-shadow: 0 0 1px 1px #d80000 !important;
}
.personal-registro {
	max-width: 600px;
}
.personal-registro > div {
	margin: 20px;
}
#per_reg_dni_search {
	padding: 0 10px;
}
.ya-existe,
.no-encontro,
.server-error,
.pide-error > div:first-child {
	font-size: 12px;
	font-weight: bold;
	color: #d18100;
}
#per_reg_dni {
	display: block;
	width: 100%;
	max-width: 150px;
}
.foto-input {
	margin-right: 10px;
	height:150px;
	min-width: 110px;
	float: left;
	border: 2px dashed darkgray;
	justify-content: center;
	align-items: center;
}
.foto-input img {
	max-width:100%;
	max-height:100%;
}
.registro-data .data-input{
	flex-flow: column;
}
.registro-data .data-input div:first-child {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	padding: 4px;
	color: lightslategray;
}
.registro-data .data-input .per-reg-show,
.registro-data .data-input .per-reg-input {
	min-height: 26px;
}
.registro-data .data-input .per-reg-show {
	background: #ececec;
	display: flex;
	align-items: center;
	padding: 0 8px;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
}
.registro-data .data-input .per-reg-show.filled {
	background: none;
	border-bottom: 1px dotted #000000;
}
.registro-data .data-input .per-reg-input {
	padding: 0 10px;
}
#loading_pide {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	max-width: 530px;
	background: #fdfcee7a;
	max-height: 150px;
}
.select-wrap {
	margin: 20px 20px 0 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 #00000042;
	position:relative;
	display: inline-block;
	background-color: white;
	flex: 1;
}
.select-wrap label {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	background-color: #f8f8f8;
	color: #919191;
	top: -14px;
	left: 8px;
	padding: 0 3px;
	border-radius: 10px;
	position: absolute;
}
.select-wrap select {
	background-color: beige;
	color: #565656;
	outline: none;
	border: none;
	border-radius: 2px;
	box-shadow: none;
	padding: 6px;
	font-size: 14px;
	width: 100%;
	min-width: 200px;
	max-width: 790px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
option {
	cursor: pointer;
}
.select-wrap select:disabled {
	background-color: lightgray !important;
}
.select-wrap select[data-chosen="0"] {
	background-color: transparent;
}
.select-wrap option {
	background-color: white;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.modal-content {
	width: 100%;
	background-color: #f8f8f8;
	margin: auto;
	padding: 5px 15px;
	border-radius: 5px;
	box-shadow: 0 0 10px 5px #00000026;
}
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
button {
	font-size: 14px;
	border: none;
	outline: none;
	padding: 5px 8px;
	border-radius: 3px;
	cursor: pointer;
}
button:hover {
	box-shadow: 0 1px 2px 0 rgb(86 86 86 / 45%),
	0 1px 3px 1px rgb(86 86 86 / 30%);
}
button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover{
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
	cursor: default;
	box-shadow: none;
}
.btn-icon {
	padding: 2px 3px 0 4px;
}
.bigger-button {
	padding: 10px 20px;
	margin: 5px;
	font-size: 1.0em;
}
.btn-blue {
	color: white;
	background: #1a73e8;
}
.btn-blue:active {
	background: #3e87e8;
}
.btn-green {
	color: white;
	background: #4cb40a;
}
.btn-green:active {
	background: #5db426;
}
.btn-black {
	color: white;
	background: #565656;
}
.btn-black:active {
	background: #696969;
}
.btn-gray {
	color: #565656;
	background: #efefef;
	border: 1px solid #e0e0e0;
}
.btn-gray:active {
	background: #dddddd;
}
.btn-gray:hover {
	box-shadow: 0 1px 2px 0 rgb(127 127 127 / 45%), 0 1px 3px 1px rgb(127 127 127 / 30%);
}
.btn-orange {
	color: white;
	background: #d18100;
}
.btn-orange:active {
	background: #e8ac1a;
}
#screen_block {
	display: none;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: #ffffff0f;
}
.tabla-normal {
	margin-top: 10px;
}
.tabla-normal table {
	border-collapse: collapse;
	min-width: 800px;
	background: white;
	border-radius: 4px 4px 0 0;
	box-shadow: 0 1px 4px 0 #00000040;
}
.tabla-normal tbody tr:hover {
	box-shadow: 0 0 3px 1px #88888880;
	border-color: #88888880;
}
.tabla-normal td {
	font-size: 14px;
	padding: 10px 20px;
	border: 1px solid #dfdfdf;
	border-width: 1px 0 1px 0;
}
.tabla-normal.tabla-listado td:last-child:hover {
	background: #565656;
	color: white;
	cursor: pointer;
}
.tabla-normal thead tr{
	background: #565656;
	color: white;
	font-size: 14px;
	text-align: left;
}
.tabla-normal th {
	font-weight: normal;
	padding: 5px 10px;
}
.tabla-normal th:first-child {
	border-radius: 4px 0 0 0;
}
.tabla-normal th:last-child {
	border-radius: 0 4px 0 0;
}
.tabla-normal td,
.tabla-normal th {
	text-align: center;
}
.tabla-normal td i {
	border-radius: 5px;
	transition: 0.1s;
}
#tabla_contratos td {
	white-space: nowrap;
}

.separador {
	margin: 20px 0;
	border-top: 5px dotted #eaeaea;
}

.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext {
	display: none;
	white-space:nowrap;
	background-color: #000000db;
	color: #fff;
	text-align: center;
	padding: 5px 10px;
	border-radius: 6px;
	font-size: 14px;
	position: absolute;
	z-index: 1;
	top: 130%;
	left: -10px;
}
.tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 15px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #000000db transparent;
}
.tooltip:hover .tooltiptext {
	display: block;
}

.result-empty {
	display: none;
	font-size: 48px;
	color: lightgray;
	margin-top: 100px;
	width: 100%;
	max-width: 1000px;
	text-align: center;
}
.result-error {
	display: none;
	color: red;
	margin: 35px 10px;
	width: 100%;
	max-width: 1000px;
}

#modal_personal_registro,
#modal_contrato_registro,
#modal_contrato_confirm,
#btn_hist_contratar,
#btn_hist_finalizar,
#tabla_contratos {
	display: none;
}

.contrato-registro {
	max-width: 900px;
}
.contrato-form {
	padding: 30px;
}
.contrato-input {
	display: flex;
	margin: 10px 0;
}
.contrato-input select,
.contrato-input input {
	padding: 6px 10px;
	margin: 0 10px 0 5px;
	min-width: 200px;
}
/*.contrato-input select:focus,
.contrato-input input:focus {
	box-shadow: 0 1px 2px 0 #00000042,
				0 0 0 2px #024eff7d !important;
}*/
.contrato-input select {
	cursor: pointer;
}
.contrato-input select:disabled {
	background: gainsboro;
	color: #565656 !important;
}
.contrato-input option {
	color: black;
}
.contrato-input select[data-chosen="0"] {
	color: #999999;
}
.contrato-input .calculo-fecha {
	display: flex;
	align-items: center;
	font-family: monospace;
	font-size: 14px;
	color: darkgray;
}

.contrato-confirm {
	max-width:500px;
}
.contrato-confirm div:first-child {
	text-align: center;
	font-size: 1.2em;
	margin: 50px 0 10px 0;
	color: #565656;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contrato-confirm div:nth-child(2) {
	text-align: center;
	margin: 0 auto 10px auto;
	color: slategray;
	max-width: 300px;
	font-size: 0.95em;
}
.contrato-confirm div:nth-child(3) {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.cnf-icon {
	margin-right: 10px;
	font-size: 32px;
	color: darkorange;
}

.persona-card {
	display: flex;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 #cbcbcb;
	background: white;
	padding: 15px 20px;
	margin-left: 5px;
}
.foto-marco {
	margin-right: 20px;
	height:150px;
	min-width: 110px;
	float: left;
	justify-content: center;
	align-items: center;
}
.foto-marco img {
	max-width:100%;
	max-height:100%;
	border-radius: 3px;
	box-shadow: 0 0 1px 1px gainsboro;
}
.datos-marco > div {
	display: flex;
	flex-flow: column;
	margin-bottom: 5px;
}
.datos-marco > div > div:first-child {
	font-size: 13px;
	color: gray;
}
.datos-marco > div > div:last-child {
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
}