input[type=checkbox], input[type=radio] {
    margin: 4px 0 0 !important;
   
}


.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #c7b9b9;
}


.vistamobil {
    display: normal !important;
}

.titulomovil {
  display:none
}

.mtran {
    margin-left: 15px;
}

.mingdx {
   
    margin-bottom: 5px !important;
}


.mprimergrupo {
    height: 220px !important;
}

.msegundogrupo {
    height: 180px !important;
}

.mpanelingreso {
    margin-left: 56px;
}

#gresumen {
display:block ;
}
@media (max-width: 797px) {

    input[type=checkbox], input[type=radio] {
        margin: 6px 8px 10px !important;
    }
    .mprimergrupo {
        height: auto !important;       ;
    }
    
    #gresumen {
    display:none ;
    }

    .msegundogrupo {
        height: auto !important;
    }

    .mtran {
       margin-left:0px;
    }

    .mpanelingreso {
        margin-left: 0px;
    }
    .vistamobil {
        display: none !important;
    }
    .wrap {
        /* position: static; */
        /* margin: auto; */
      /*  width: 83%;*/
        height: 650px;
        overflow: hidden;
        margin-top: 20px;
    }

    .titulomovil {
        display:block;
        background-color: #4C5462;
        color: white;
        font-size: 30px;
        height: 115px;
        padding-top: 9px;
    }

    .bordetab {
        margin: 0px auto 0 !important;
    }

    .ftabs {
        font-size: 17px;
        color: white;
    }
}